<div class = "media">
  <%= render partial: 'votes/voter', locals: { post: post } %>
  <div>
    <% avatar_url = post.user.avatar_url(30) %>
    <% if avatar_url %>
      <div class = "media-left pull-left">
        <%= image_tag avatar_url, class: "media-object" %>
      </div>
    <% end %>
  </div>
  <div class = "media-body">
    <h4 class = "media-heading">
      <%= link_to post.title, topic_post_path(post.topic, post) %>
      <%= render partial: "labels/list", locals: { labels: post.labels } %>
    </h4>
    <small>
      submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %> <br />
      <%= post.comments.count %> Comments
    </small>
    <p><%= post.body %></p>
    <%= pluralize(post.points, 'point') %>
    <div>
      <small>
        <%= pluralize(post.up_votes, 'up vote') %>,
        <%= pluralize(post.down_votes, 'down vote') %>
      </small>
    </div>
    <div "pull-right">
      <% if current_user %>
        <%= render partial: 'favorites/favorite', locals: { post: post } %>
      <% end %>
    </div>
  </div>
</div>
